extends layout

block content
  .image-block
  img.className#IdName(style="width:100px" src="https://cdn.glitch.com/03d3b1e3-a591-4fbc-bfbd-cdb083af1261%2Flogo.svg?v=1624743718779" alt="Image Title") 

  h1= title
  p Welcome to #{title}      
  